.full-screen-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .full-screen-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .left-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 10%;
    transform: translate(0, -50%);
    text-align: left;
    color: #fff;
    line-height: 1.5;
  }
  
  h5 {
    font-weight: 300;
    font-family: sans-serif;
  }
  
  h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .left-text p {
    font-weight: 400;
    max-width: 400px; /* Adjusted width for responsiveness */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  span {
    position: relative;
    top: 15px;
  }
  
  .heroimg {
    width: 370px; /* Responsive width */
    height: 360px; /* Maintain aspect ratio */
    max-width: 685px; /* Maximum width */
    max-height: 460px; /* Maximum height */
    display: block; /* Prevents image spacing issues */
    margin: 0 auto; /* Center the image */
    border-radius: 50%;
  }
  
  .first-content,
  .second-content {
    position: relative;
    top: 30%;
    left: 15%;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .first-content p,
  .second-content p {
    width: 100%; 
    max-width: 300px; 
    font-size: 20px;
    margin-bottom: 15px; 
  }
  
 .second-content span {
    position: relative;
    top: 0;
    color: rgb(252, 3, 82);
  }
  .first-content span {
    position: relative;
    top: 0;
    color: rgb(252, 3, 82);
  }

 /* Header Styles */

 .head {
  margin: 30px 0;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 50px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the boxes along the x-axis */
  gap: 0; /* Remove the gap between boxes along the x-axis */
}

.col-md-12 {
  width: 100%;
}

/* Values Section */
.values-section h3 {
  font-size: 24px;
  font-weight: 600;
}

/* Values Description */
.values-description {
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  margin-bottom: 0; /* Remove the margin-bottom */
}

.values-description h4 {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.values-description p {
  font-size: 14px;
  line-height: 1.3;
}

/* Responsive styling */
@media (max-width: 767px) {
  .col-md-4 {
    flex: 0 0 calc(100% - 20px); /* Full width on smaller screens with adjusted spacing */
    margin-bottom: 20px;
  }
}
